<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= link_to 'Back', root_path %></br></br>
    
    <%= form_for @user do |f| %>

<%= f.label :fname ,'First Name' , autofocus: true%><br/>
  <%= f.text_field :fname , class: 'form-control' %>
</br>

<%= f.label :lname , 'Last Name' %><br/>
  <%= f.text_field :lname , class: 'form-control' %>
</br>

<%= f.label :email ,'Email'%><br/>
  <%= f.email_field :email , class: 'form-control' %>
</br>

Want to edit password? <%= link_to 'Edit password', edit_credential_path(@user)%>
<%= f.submit "Edit", class: "btn btn-primary btn-block"  %>

<% end %>

  </div>
</div>