<%= link_to 'Home', root_path %>
<p><%= link_to 'Back', edit_user_path(@user)%></p>
<H2>Edit Password here<h2>
  
 
 
<%= form_for :user do |f| %>
<p><%= f.label :password ,'password' , autofocus: true%><br/>
  <%= f.password_field :password %>
</p>
<p><%= f.label :newpassword , 'New password' %><br/>
  <%= f.password_field :newpassword %>
</p>
<p><%= f.label :repeatnewpassword ,'re-enter password'%><br/>
  <%= f.password_field :repeatnewpassword %>
</p>
<p>
  <%= f.submit %>
 </p>
 <%end%>