<%= link_to 'Home', root_path %>
<H2>Signup here<h2>
<%if @user.errors.any? || @cred.errors.any?%>
  <h2>The following errors prevented the article from getting created</h2>
<%end%>  
<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<% if @cred.errors.any? %>
<ul>
  <% @cred.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
 

<%= form_for @user do |f| %>
<p><%= f.label :fname ,'First Name' , autofocus: true%><br/>
  <%= f.text_field :fname %>
</p>
<p><%= f.label :lname , 'Last Name' %><br/>
  <%= f.text_field :lname %>
</p>
<p><%= f.label :email ,'Email'%><br/>
  <%= f.email_field :email %>
</p>
<p>
  <%= f.label :username , 'Username'%><br/>
  <%= f.text_field :username %>
</p>
<p>
  <%= f.fields_for :cred do |e| %>
    <%= e.label :password, "password" %><br/>
    <%= password_field_tag :password %>
  <% end %>
  <!--<%= label_tag :password, 'password' %><br/>-->
  <!--<%= password_field_tag :password %>-->
</p>
<p>
  <%= f.submit %>
</p>
<% end %>