<% if logged_in?%>

<p><%= link_to 'Log out', logout_path, method: :delete %> |
<%= link_to 'Edit Profile', edit_user_path(@user)%> |
<%= link_to 'Back', search_user_path(@user.id)%></p>

 <h2><em>Search Results for: </em><%= @searchtype%> <font size=6>"<%= @keyWord%>"</font></h2>
 <%if !@books.empty?%>
 <table class="table">
     
    <thead>
    <tr>
  		<th>Book Name</th>
	    <th>Author</th>
	    <th>availability</th>
	    
	    <th colspan="3"></th>
  </tr>
  </thead>
  
 <% @books.each do |book| %>
 <tbody>
 
 <tr>
 <td> <%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.status %></td>
  <% if book.status== 'available'%>
    <td><%= link_to 'Add Book',
            {controller: 'users',
             action: 'selectbook',
             id: @user,
             bookid: book},
            class: 'button' %></td>
  <%else
    booklog=Booklog.find_by(book_id: book.id)
    if(!booklog.nil? && booklog.user_id==@user.id)%>
    <td>Already selected</td>
    <%end%>
  <%end%>
  
<% end %>
</tr>
</tbody>
</table>
  <%else%>
  No Results found
 <%end%>
<%else%>
<% redirect_to login_path%>
<%  end%>