<% if logged_in?%>
<%= link_to 'Home', user_path %>
<p><%= link_to 'Log out', logout_path, method: :delete %><p/>
<p><%= link_to 'Edit Profile', edit_user_path(@user)%></p>
<p><%= link_to 'Back', search_user_path(@user.id)%></p>
 <h2><em>Search Results for: </em><%= @searchtype%> <font size=6>"<%= @keyWord%>"</font></h2>
 <%if !@books.empty?%>
 <table>
    <tr>
  		<th>Book Name</th>
	    <th>Author</th>
	    <th>availability</th>
  </tr>
 <% @books.each do |book| %>
 <tr>
 <td> <%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.status %></td>
  <% if book.status== 'available'%>
    <td><%= link_to 'Add Book',
            {controller: 'users',
             action: 'selectbook',
             id: @user,
             bookid: book},
            class: 'button' %></td>
  <%else
    booklog=Booklog.find_by(book_id: book.id)
    if(booklog.user_id==@user.id)%>
    <td>Already selected</td>
    <%end%>
  <%end%>
  </tr>
<% end %>
</table>
  <%else%>
  No Results found
 <%end%>
<%else%>
<% redirect_to login_path%>
<%  end%>