<% if logged_in?%>
<p><%= link_to 'Back', user_path %> |
<%= link_to 'Log out', logout_path, method: :delete %> |
<%= link_to 'Edit Profile', edit_user_path(@user)%></p>
<%if !@borrowedlog.empty?%>
  <table class="table">
    <thead>
    <tr>
      <th>Book Name</th>
	    <th>Author</th>
	    <th colspan="3"></th>
    </tr>
    </thead>
  <% @borrowedlog.each do |bookborrowed| 
    book=Book.find(bookborrowed.book_id)
    %>
    
<tbody>
    <tr>
      <td> <%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= link_to 'Return Book',
            {controller: 'users',
             action: 'returnbook',
             id: @user,
             booklogid: bookborrowed},
            class: 'button' %></td>
  <% end %>
  </tr>
  </tbody>
    </table>
<%else%>
  No pending Books 
<%end%>

<%else%>
<% redirect_to login_path%>
<%  end%>