<p> <%= link_to 'Home', root_path %> </p>
<!--<p id="notice"><%= notice %></p>-->
<% @details.each do |detail| %>
<p>
  <strong>User ID:</strong>
  <%= detail.loginId %>
</p>

<p>
  <strong>password:</strong>
  <%= detail.password %>
</p>


<p>
  <strong>Time:</strong>
  <%= detail.created_at.strftime('%D  %H:%M:%S') %>
</p>
<% end%>