<%= link_to 'Home', root_path %>
<p><%= link_to 'Back ', edit_user_path%></p>
<H2>Edit Password here<h2>
  
 
 
<%= form_for @user, :url => url_for(:controller => 'credentials' , :action =>'update') do |f| %>
<p><%= f.label :password ,'Old Password' , autofocus: true%><br/>
  <%= f.password_field :password %>
</p>
<p><%= f.label :newpassword , 'New Password' %><br/>
  <%= f.password_field :newpassword %>
</p>
<p><%= f.label :repeatnewpassword ,'Repeat New'%><br/>
  <%= f.password_field :repeatnewpassword %>
</p>
<p>
  <%= f.submit %>
 </p>
 <%end%>