
<div class="row">
  <div class="col-md-6 col-md-offset-3">  
  
<p></p><%= link_to 'Home', root_path %> |
<% if Credential.find_by(user_id: @user.id).userType=='user'%>
<%= link_to 'Back ', edit_user_path%>
<% else%>
<%= link_to 'Back ', edit_admin_path%>
<%end%>
</p>
 
 
<%= form_for @user, :url => url_for(:controller => 'credentials' , :action =>'update') do |f| %>
<%= f.label :password ,'Old Password' , autofocus: true%><br/>
  <%= f.password_field :password , class: 'form-control'%>
</br>
<%= f.label :newpassword , 'New Password' %><br/>
  <%= f.password_field :newpassword , class: 'form-control'%>
</br>
<%= f.label :repeatnewpassword ,'Repeat New'%><br/>
  <%= f.password_field :repeatnewpassword , class: 'form-control'%>
</br>

  <%= f.submit class: "btn btn-primary" %>
 
 <%end%>
 
 </div>
</div>